.product{
    display: flex;
    border-bottom: 1px solid lightgrey;
   margin-right: 5px;
   margin-bottom: 5px;
   padding-bottom: 5px;
   
}
.product-name{
    color: blue;
    font-weight: 450;
}
.all-product{
    margin-left: 10px;
}
.main-button{
    background-color: goldenrod;
    height: 30px;
    width: 150px;
    border: 1 px solid lightgray;
}